Repository is-solutions-delivery/liferay-portal, pull requests merged in 2021-08, with the labels that each got.

#138 LPS-137228 Create Hang Tight Page
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/hang-tight/page-definition.json
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/layouts.json
Labels: Fragments

#153 LPS-137595 Remove D2C-web wrongly positioned
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/hang-tight/page-definition.json
Labels: Fragments

#159 LPS-134817 SF
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/styles/components/fragments/radio.scss
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/styles/components/fragments/step.scss
Labels: raylife-d2c-web

#158 LPS-137518 Click to chat and button to previous screen
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.css
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.html
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.js
Labels: Fragments

#162 LPS-137731 Styles doesn't attend the mock to Raylife D2C Homepage
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/business-home-cover/index.css
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/business-home-cover/index.html
Labels: raylife-d2c-web

#167 LPS-137740 SF
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.js
Labels: Fragments

#168 LPS-137120 Fix Radio to Select the Radio-card
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/fragments/Forms/Radio.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/styles/components/fragments/radio.scss
Labels: Frontend, Fragments

#200 LPS-138309 apartments is Misspelled
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/asset-categories/asset-categories.json
Labels: Frontend, raylife-d2c-web, Review needed
