Repository is-solutions-delivery/liferay-portal, pull requests merged in 2021-09, with the labels that each got.

#207 LPS-138491 Impedibug Learn More Link
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-02/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-03/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-06/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-07/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-08/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-09/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-11/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-12/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-13/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-14/journal_article.xml
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/tip-article-15/journal_article.xml
Labels: Frontend, raylife-d2c-web, Review needed

#208 LPS-138524 Impedibug Business Basics Issues Found
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/connectors/Controlled/Input/Email.js
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/ddm-templates/tip-card/ddm_template.ftl
Labels: Frontend, raylife-d2c-web, Review needed

#209 LPS-138105 Create Basic Pricing Tier web component - Quote Comparison
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/quote-article-01/journal_article.json
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/quote-article-01/journal_article.xml
Labels: Fragments, raylife-d2c-web

#210 LPS-138107 Create "Premium Pricing Tier" web component
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/quote-article-03/journal_article.json
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/journal-articles/quote-article-03/journal_article.xml
Labels: Frontend, Fragments, raylife-d2c-web, Review needed

#211 LPS-138494 Impedibug Default all Yes/No fields to no selected answer
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/connectors/Controlled/Switch.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/Business.js
Labels: Frontend, raylife-d2c-web, Review needed

#214 LPS-138592 Create/Update page with all web-contents - Quote Comparison
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/quote-comparison/page-definition.json
Labels: Frontend, Fragments, raylife-d2c-web

#216 LPS-138311 Impedibug Error Message Displays for Valid BCC
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/Basics/BusinessType/Search.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/fragments/Forms/Input/Search.js
Labels: Frontend, raylife-d2c-web, Review needed

#235 LPS-138966 Impedibug Styling Does Not Match Mockups
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/ddm-templates/tip-card/ddm_template.ftl
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/get-in-touch/page-definition.json
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.css
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.html
Labels: Frontend, raylife-d2c-web, Review needed

#236 LPS-138968 Clicking Back to Edit Info Should Navigate User to Previous Screen
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/Providers.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/Basics/BusinessType/index.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/utils/constants.js
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/business-home-cover/index.js
  modules/apps/site/site-insurance-site-initializer/src/main/zippableResources/fragments/raylife/fragments/get-in-touch/index.js
Labels: Frontend, Fragments, raylife-d2c-web, Review needed

#244 LPS-139090 SF
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/Basics/BusinessType/index.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/hooks/useFormActions.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/utils/scroll.js
Labels: Frontend, raylife-d2c-web, Review needed

#248 Load Section on Form Component (to be globally)
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/Providers.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/Basics/BusinessType/index.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/components/containers/Forms/index.js
Labels: raylife-d2c-web

#261 LPS-139545 [Impedibug] Info Panels Not Aligned Like Mockups
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/get-a-quote/page-definition.json
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/hang-tight/page-definition.json
Labels: Frontend, raylife-d2c-web, Review needed

#265 Fix Hang Tight page layout
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/hang-tight/page-definition.json
Labels: Fragments

#268 LPS-139613 [Impedibug] Quote Comparison Missing Drop Shadows
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/styles/components/fragments/step.scss
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/ddm-templates/quote-card/ddm_template.ftl
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/get-a-quote/page-definition.json
  modules/apps/site/site-insurance-site-initializer/src/main/resources/com/liferay/site/insurance/site/initializer/internal/dependencies/layouts/quote-comparison/page-definition.json
Labels: Frontend, raylife-d2c-web, Block

#271 LPS-139337 Fix bug of selected panels when change page
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/App.js
  modules/apps/site/site-insurance-site-initializer/remote-web-components/raylife-d2c-web/src/hooks/useFormActions.js
Labels: raylife-d2c-web
